<!-- <input type="text" [(ngModel)]="imgParent.url">
<input type="text" [(ngModel)]="imgParent.size">
<button  (click)="toggleBtn()"> toggle </button>
<app-img  *ngIf="toggle" (loaded)="LoadedImg($event)" [changeImg]="imgParent.url" [zise]="imgParent.size"></app-img> -->

<div class="products" >
    <div class="dontxst" [class.active]="toggle"></div>
    <header>
        <app-nav [price]="price" [carBar]="tglcar" (sendTrueFalse)="toggleBtn()"></app-nav>
    </header>
    <div>
        <app-productos  (event)="eventRecive($event)"></app-productos>
    </div>
</div>
