/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,200&family=Quicksand:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: #575756;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover{
    width: 3px;
    background-color: #3f3f3e;

}
body::-webkit-scrollbar-thumb:active{
    width: 3px;
    background-color: #2b2b2b;

}
body::-webkit-scrollbar-track{
    background-color: #bebebd;
}